@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');

:root {
  --playfair: 'Playfair Display', serif;
  --roboto: 'Roboto', sans-serif;
  --primary-color: #2591B2;
  font-size: 1.8rem;
  box-sizing: border-box;
}

/*
<i class="devicon-adonisjs-original"></i>

OR

<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/adonisjs/adonisjs-original.svg" />
          
*/

body {
  background-color: white;
  margin: 0;
}

a {
  cursor: pointer;
}

h2 {
  font-family: var(--playfair);
  font-weight: 400;
  text-align: center;
  font-size: 2.2rem;
  margin: 10px 0;
}

.clear {
  clear: both;
}

@media (min-width: 480px) {
  h2 {
    font-size: calc(1rem + 1vw);

  }
}

@media (min-width: 1280px) {
  h2 {
    text-align: left;
    margin: 0 0;
  }
}