.projects {
  max-width: 1680px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
}

.cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}


@media (min-width: 480px) {
  .imageContainer {
    float: left;
    margin-top: -100px;
    position: static;
    margin-right: 30px;
  }

  .imageContainer img {
    width: calc(200px + 15vw);
    height: calc(calc(200px + 15vw) * 5 / 4);
  }

  .bio {
    padding: 30px;
    padding-top: 60px;
    box-shadow: 1px 1px 5px rgba(46, 46, 46, 0.4);

  }

  .bio h2 {
    font-size: calc(1rem + 1vw);

  }

  .content {
    padding-top: 130px;
    margin: auto;
    position: relative;
  }

  .imageContainer h1 {
    top: 30px;
    right: 30px;
    font-size: calc(1.2rem + 3vw);
    white-space: nowrap;
    margin: 0;
  }

  .header-icons {
    justify-content: end;
  }

}

@media (min-width: 1280px) {
  .header::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%)
  }

  .imageContainer {
    position: relative;
    margin-top: -40px;
  }

  .imageContainer h1 {
    top: initial;
    right: initial;
    font-size: 2rem;
    white-space: normal;
    text-align: center;
    width: 100%;
  }

  .bio {
    padding: 30px;
  }

  .bio h2 {
    text-align: left;
    margin: 0 0;
  }

  .bio p {
    margin: 0 0;
  }

  .content {
    padding-top: 90px;
  }
}